DISCORD_TOKEN=
BOT_ID=

BLACKLISTED_WORDS_FULL=word1, word2
BLACKLISTED_WORDS_SANITIZED=w---1, w---2
SCAN_INSIDE_WORDS=true

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n(your-key)\n-----END PRIVATE KEY-----\n
